Repository exercism/elm, pull requests merged in 2022-11, with the labels that each got.

#522 Add concept `set` and concept exercise `gotta-snatch-em-all`
  concepts/set/.meta/config.json
  concepts/set/about.md
  concepts/set/introduction.md
  concepts/set/links.json
  config.json
  exercises/concept/gotta-snatch-em-all/.docs/hints.md
  exercises/concept/gotta-snatch-em-all/.docs/instructions.md
  exercises/concept/gotta-snatch-em-all/.docs/introduction.md
  exercises/concept/gotta-snatch-em-all/.docs/introduction.md.tpl
  exercises/concept/gotta-snatch-em-all/.meta/Exemplar.elm
  exercises/concept/gotta-snatch-em-all/.meta/config.json
  exercises/concept/gotta-snatch-em-all/.meta/design.md
  exercises/concept/gotta-snatch-em-all/elm.json
  exercises/concept/gotta-snatch-em-all/src/GottaSnatchEmAll.elm
  exercises/concept/gotta-snatch-em-all/tests/Tests.elm
  exercises/concept/monster-attack/.docs/introduction.md
Labels: x:action/create, x:module/concept, x:module/concept-exercise, x:size/large

#523 Add practice exercise `two-bucket`
  config.json
  exercises/practice/two-bucket/.docs/instructions.md
  exercises/practice/two-bucket/.meta/config.json
  exercises/practice/two-bucket/.meta/src/TwoBucket.example.elm
  exercises/practice/two-bucket/.meta/tests.toml
  exercises/practice/two-bucket/elm.json
  exercises/practice/two-bucket/src/TwoBucket.elm
  exercises/practice/two-bucket/tests/Tests.elm
Labels: x:action/create, x:module/practice-exercise, x:size/large

#524 Add icons to concept exercises
  exercises/concept/blorkemon-cards/.meta/config.json
  exercises/concept/go/.meta/config.json
  exercises/concept/gotta-snatch-em-all/.meta/config.json
  exercises/concept/paolas-prestigious-pizza/.meta/config.json
  exercises/concept/ticket-please/.meta/config.json
  exercises/concept/top-scorers/.meta/config.json
Labels: x:module/concept-exercise, x:size/small

#528 adding declarative to Elm Tags.md (see comment link)
  TAGS.md
  config.json
Labels: x:size/tiny
