Repository exercism/elm, pull requests merged in 2022-10, with the labels that each got.

#506 Add sanity checks to `build.sh`
  bin/build.sh
Labels: x:type/ci, x:type/coding, x:size/small

#507 Add concept/concept exercise stub file generator
  bin/generate_concept_exercise.sh
  bin/generate_practice_exercise.sh
Labels: x:module/generator, x:size/medium

#512 Sync docs
  exercises/practice/accumulate/.docs/instructions.md
  exercises/practice/all-your-base/.docs/instructions.md
  exercises/practice/allergies/.docs/instructions.md
  exercises/practice/armstrong-numbers/.docs/instructions.md
  exercises/practice/atbash-cipher/.docs/instructions.md
  exercises/practice/binary-search/.docs/instructions.md
  exercises/practice/bob/.docs/instructions.md
  exercises/practice/bowling/.docs/instructions.md
  exercises/practice/circular-buffer/.docs/instructions.md
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/difference-of-squares/.docs/instructions.md
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/gigasecond/.docs/instructions.md
  exercises/practice/grade-school/.docs/instructions.md
  exercises/practice/grains/.docs/instructions.md
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hello-world/.docs/instructions.md
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/leap/.docs/instructions.md
  exercises/practice/list-ops/.docs/instructions.md
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/nucleotide-count/.docs/instructions.md
  exercises/practice/pangram/.docs/instructions.md
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/phone-number/.docs/instructions.md
  exercises/practice/pythagorean-triplet/.docs/instructions.md
  exercises/practice/raindrops/.docs/instructions.md
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/robot-simulator/.docs/instructions.md
  exercises/practice/roman-numerals/.docs/instructions.md
  exercises/practice/run-length-encoding/.docs/instructions.md
  exercises/practice/say/.docs/instructions.md
  exercises/practice/series/.docs/instructions.md
  exercises/practice/sgf-parsing/.docs/instructions.md
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/strain/.docs/instructions.md
  exercises/practice/sum-of-multiples/.docs/instructions.md
  exercises/practice/transpose/.docs/instructions.md
  exercises/practice/triangle/.docs/instructions.md
  exercises/practice/twelve-days/.docs/instructions.md
  exercises/practice/two-fer/.docs/instructions.md
  exercises/practice/wordy/.docs/instructions.md
Labels: x:action/sync, x:size/tiny

#504 Add `introduction.md.tpl` files, unify introduction contents
  concepts/booleans/about.md
  concepts/booleans/introduction.md
  concepts/maybe/about.md
  concepts/maybe/introduction.md
  concepts/records/introduction.md
  concepts/tuples/about.md
  concepts/tuples/introduction.md
  exercises/concept/annalyns-infiltration/.docs/introduction.md
  exercises/concept/annalyns-infiltration/.docs/introduction.md.tpl
  exercises/concept/bandwagoner/.docs/introduction.md
  exercises/concept/bandwagoner/.docs/introduction.md.tpl
  exercises/concept/bettys-bike-shop/.docs/introduction.md
  exercises/concept/bettys-bike-shop/.docs/introduction.md.tpl
  exercises/concept/go/.docs/introduction.md
  exercises/concept/go/.docs/introduction.md.tpl
  exercises/concept/lucians-luscious-lasagna/.docs/introduction.md
  exercises/concept/lucians-luscious-lasagna/.docs/introduction.md.tpl
  exercises/concept/marios-marvellous-lasagna/.docs/introduction.md
  exercises/concept/marios-marvellous-lasagna/.docs/introduction.md.tpl
  exercises/concept/role-playing-game/.docs/introduction.md
  exercises/concept/role-playing-game/.docs/introduction.md.tpl
  exercises/concept/ticket-please/.docs/introduction.md
  exercises/concept/ticket-please/.docs/introduction.md.tpl
  exercises/concept/tisbury-treasure-hunt/.docs/introduction.md
  exercises/concept/tisbury-treasure-hunt/.docs/introduction.md.tpl
  exercises/concept/top-scorers/.docs/introduction.md
  exercises/concept/top-scorers/.docs/introduction.md.tpl
  exercises/concept/tracks-on-tracks-on-tracks/.docs/introduction.md
  exercises/concept/tracks-on-tracks-on-tracks/.docs/introduction.md.tpl
  exercises/concept/valentines-day/.docs/introduction.md
  exercises/concept/valentines-day/.docs/introduction.md.tpl
Labels: x:module/concept, x:module/concept-exercise, x:type/docs, x:size/medium

#513 Add concept `comparison` and concept exercise `blorkemon-cards`
  bin/generate_concept_exercise.sh
  concepts/comparison/.meta/config.json
  concepts/comparison/about.md
  concepts/comparison/introduction.md
  concepts/comparison/links.json
  config.json
  exercises/concept/blorkemon-cards/.docs/hints.md
  exercises/concept/blorkemon-cards/.docs/instructions.md
  exercises/concept/blorkemon-cards/.docs/introduction.md
  exercises/concept/blorkemon-cards/.docs/introduction.md.tpl
  exercises/concept/blorkemon-cards/.meta/Exemplar.elm
  exercises/concept/blorkemon-cards/.meta/config.json
  exercises/concept/blorkemon-cards/.meta/design.md
  exercises/concept/blorkemon-cards/elm.json
  exercises/concept/blorkemon-cards/src/BlorkemonCards.elm
  exercises/concept/blorkemon-cards/tests/Tests.elm
  exercises/concept/paolas-prestigious-pizza/.docs/introduction.md
Labels: x:action/create, x:module/concept, x:module/concept-exercise, x:size/large

#509 Partial application concept and concept exercise
  concepts/partial-application-composition/.meta/config.json
  concepts/partial-application-composition/about.md
  concepts/partial-application-composition/introduction.md
  concepts/partial-application-composition/links.json
  config.json
  exercises/concept/monster-attack/.docs/hints.md
  exercises/concept/monster-attack/.docs/instructions.md
  exercises/concept/monster-attack/.docs/introduction.md
  exercises/concept/monster-attack/.docs/introduction.md.tpl
  exercises/concept/monster-attack/.meta/Exemplar.elm
  exercises/concept/monster-attack/.meta/config.json
  exercises/concept/monster-attack/.meta/design.md
  exercises/concept/monster-attack/elm.json
  exercises/concept/monster-attack/src/MonsterAttack.elm
  exercises/concept/monster-attack/tests/Tests.elm
Labels: x:action/create, x:module/concept, x:module/concept-exercise, x:size/large

#517 Configlet sync: tests
  exercises/practice/armstrong-numbers/.meta/tests.toml
  exercises/practice/gigasecond/.meta/tests.toml
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/matching-brackets/tests/Tests.elm
  exercises/practice/say/.meta/config.json
  exercises/practice/say/.meta/src/Say.example.elm
  exercises/practice/say/.meta/tests.toml
  exercises/practice/say/tests/Tests.elm
  exercises/practice/series/.meta/tests.toml
  exercises/practice/series/tests/Tests.elm
  exercises/practice/sgf-parsing/.meta/src/SgfParsing.example.elm
  exercises/practice/sgf-parsing/.meta/tests.toml
  exercises/practice/sgf-parsing/tests/Tests.elm
  exercises/practice/word-count/.meta/tests.toml
  exercises/practice/word-count/tests/Tests.elm
Labels: x:action/sync, x:module/practice-exercise, x:size/medium, hacktoberfest-accepted

#518 Configlet sync: docs and metadata
  exercises/practice/allergies/.docs/instructions.md
  exercises/practice/allergies/.meta/config.json
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/binary-search/.meta/config.json
  exercises/practice/bob/.meta/config.json
  exercises/practice/bowling/.docs/instructions.md
  exercises/practice/bowling/.meta/config.json
  exercises/practice/circular-buffer/.meta/config.json
  exercises/practice/difference-of-squares/.meta/config.json
  exercises/practice/etl/.meta/config.json
  exercises/practice/gigasecond/.meta/config.json
  exercises/practice/grains/.meta/config.json
  exercises/practice/hamming/.meta/config.json
  exercises/practice/hello-world/.docs/instructions.md
  exercises/practice/hello-world/.meta/config.json
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/leap/.docs/instructions.md
  exercises/practice/leap/.meta/config.json
  exercises/practice/list-ops/.docs/instructions.md
  exercises/practice/luhn/.meta/config.json
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/pythagorean-triplet/.meta/config.json
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/roman-numerals/.meta/config.json
  exercises/practice/say/.meta/config.json
  exercises/practice/series/.meta/config.json
  exercises/practice/sgf-parsing/.docs/instructions.md
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/space-age/.meta/config.json
  exercises/practice/sum-of-multiples/.meta/config.json
  exercises/practice/triangle/.meta/config.json
  exercises/practice/twelve-days/.meta/config.json
  exercises/practice/wordy/.docs/instructions.md
Labels: x:action/sync, x:size/tiny

#520 Add new practice exercise: `custom-set`
  config.json
  exercises/practice/custom-set/.docs/instructions.md
  exercises/practice/custom-set/.meta/config.json
  exercises/practice/custom-set/.meta/src/CustomSet.example.elm
  exercises/practice/custom-set/.meta/tests.toml
  exercises/practice/custom-set/elm.json
  exercises/practice/custom-set/src/CustomSet.elm
  exercises/practice/custom-set/tests/Tests.elm
Labels: x:module/practice-exercise, x:type/coding, x:size/large, hacktoberfest-accepted
